
    .checkbox_list{
        height: 150px;
        overflow-y: scroll;
        padding-top: 15px;
    
        ::-webkit-scrollbar {
            width: 10px;
            border-radius:50%;
        }

        label{
            margin-bottom:0px!important;
            margin-left:5px!important;
        }
    }

